%footer{:role => "contentinfo"}
  .row
    .small-12.columns
      = php "dynamic_sidebar('sidebar-footer');"
= php "wp_footer();"
%script{:src => "//use.typekit.net/gca7ynj.js"}
:javascript
  try{Typekit.load();}catch(e){}